<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.airsoft">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.NewGameRecyclerActivity"
            android:label="@string/title_activity_new_game_recycler"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".NewGameRecyclerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.GameInfoActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".GameInfoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>

        </activity>
        <activity
            android:name=".Activities.GamesRecyclerActivity"
            android:label="@string/title_activity_games_recycler"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".GamesRecyclerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MembersRecyclerActivity"
            android:label="@string/title_activity_members_recycler"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".MembersRecyclerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MemberInfo">
            <intent-filter>
                <action android:name=".MemberInfo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.PersonActivity">
            <intent-filter>
                <action android:name=".PersonActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MembersActivity">
            <intent-filter>
                <action android:name=".MembersActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>