<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.airsoft">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_clean"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainOrgcomActivity">
            <intent-filter>
                <action android:name=".MainOrgcomActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.CreatingOrgcomActivity">
            <intent-filter>
                <action android:name=".CreatingOrgcomActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.ConnectingToOrgcom">
            <intent-filter>
                <action android:name=".ConnectingToOrgcom" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SearchNewGameActivity">
            <intent-filter>
                <action android:name=".SearchNewGameActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.PlannedGamesActivity">
            <intent-filter>
                <action android:name=".PlannedGamesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.PreviousGamesActivity">
            <intent-filter>
                <action android:name=".PreviousGamesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.GamesViewSelectActivity">
            <intent-filter>
                <action android:name=".GamesViewSelectActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".NotificationService"
            android:enabled="true" />

        <activity
            android:name=".Activities.CreatingTeam"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".CreatingTeam" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ConnectingToTeam"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".ConnectingToTeam" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegistrationPersonInfo"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".RegistrationPersonInfo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="Calendar"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".CalendarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.StatisticActivity"
            android:label="@string/title_activity_statistic"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".StatisticActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.NewGameRecyclerActivity"
            android:label="@string/title_activity_new_game_recycler"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".NewGameRecyclerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.GameInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".GameInfoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.GamesRecyclerActivity"
            android:label="@string/title_activity_games_recycler"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".GamesRecyclerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MembersRecyclerActivity"
            android:label="@string/title_activity_members_recycler"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".MembersRecyclerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PlayerInfo"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".PlayerInfo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.NewMemberActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".NewMemberActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>